.App-header {
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    color: white;
    justify-content: space-around;
    padding: 1rem;
    border-bottom: 2px solid darkslategrey;
}